<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static "base.css" %}'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title>Success</title>
</head>
<body>
	{% if messages%}
	
		{{messages }}
	
	{% endif %}
	
	<div class="container">
		<h1 class='header'>Register Here</h1>
	</div>

	<div class="container">
		<div class="info-card" >
			<form method="POST">
					{% csrf_token %}
					 <div class='UserName'>
					 	<label for='name'> Name:</label>
							{{form.name}}
					</div>
					 <div class='UserName'>
					 	<label for='year'> Year:</label>
						{{form.year}}
					</div>

					 <div class='UserName'>
					 	<label for='Enrollment'> Enrollment No:</label>
						{{form.enrollmentno}}
					</div>

					 <div class='UserName'>
					 	<label for='Course'> Course:</label>
						{{form.course}}
					</div>

					 <div class='UserName'>
					 	<label for='Details'> Details:</label>
						{{form.detailforappointment}}
					</div>
					<input type="submit" value="register" class="btn btn-secondary subm-btn">
			</form>
		</div>
	</div>
</body>

</html>